//CONSTANT
@import "./constant/fonts";
@import "./constant/colors";
@import "./constant/font-sizes";
@import "./constant/media-query";
@import "./constant/mixins";

//GLOBALS CLASS
@import "./constant/globals-styles";

//COMPONENTS
@import "./components/notification";

//PAGES
@import "./pages/login";
@import "./pages/register";
@import "./pages/anime";
@import "./pages/episode";
@import "./pages/home";
