@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1e1e1e;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3.9rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  font-size: 1rem;
}

a {
  color: #047fd1;
  text-decoration: none;
}

a:hover {
  color: #0484da;
}

.item-link {
  font-size: 1rem;
  color: #047fd1;
  text-decoration: none;
}

.item-link:hover {
  color: #0484da;
}

.form-container {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#0484da), to(#e41f26));
  background: linear-gradient(to right, #0484da, #e41f26);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .wrapper-form {
  width: 600px;
  height: auto;
  margin: 1rem;
}

.form-container .wrapper-form form {
  padding: 0;
  border-radius: 7px;
  background: #1e1e1e;
}

.form-container .wrapper-form form .header-form {
  padding: 1.4rem 1rem;
  text-align: center;
  position: relative;
  color: #ffffff;
}

.form-container .wrapper-form form .header-form .item-icon-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

.form-container .wrapper-form form .body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem;
}

.form-container .wrapper-form form .body-form .inputs-wrapper input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ebebeb;
  border: none;
  border-radius: 15px;
  padding: 1.1rem 1.3rem;
  margin: 0.7rem 0;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  color: #808080;
}

.form-container .wrapper-form form .body-form .inputs-wrapper input:last-child {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #d81f26;
  border: none;
  border-radius: 15px;
  padding: 1.1rem 1.3rem;
  margin: 0.7rem 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}

.form-container .wrapper-form form .body-form .inputs-wrapper input:last-child:hover {
  background: #e41f26;
}

.form-container .wrapper-form form .body-form .item-text {
  padding: 0.4rem 0 0 0.3rem;
  text-align: left;
}

.form-container .wrapper-form form .footer-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: 1fr 10px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

.form-container .wrapper-form form .footer-form .left-wrapper {
  padding-right: 0.7rem;
}

.form-container .wrapper-form form .footer-form .right-wrapper {
  padding-left: 0.7rem;
}

.form-container .wrapper-form form .footer-form button {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #047fd1;
  border: none;
  border-radius: 15px;
  padding: 1.1rem 1.3rem;
  margin: 0.7rem 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}

.form-container .wrapper-form form .footer-form button:hover {
  background: #0484da;
}

.register-container {
  background: red;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

@media screen and (min-width: 768px) {
  .register-container {
    -ms-grid-columns: 45% 1fr;
        grid-template-columns: 45% 1fr;
  }
}

.register-container .wrapper-left {
  background: rgba(224, 210, 4, 0.8);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .register-container .wrapper-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.register-container .wrapper-left img {
  height: 100%;
  width: auto;
}

.register-container .wrapper-right {
  background: purple;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 1fr;
      grid-template-rows: 20% 1fr;
}

.register-container .wrapper-right .r-head-section {
  background: wheat;
}

.register-container .wrapper-right .r-head-section .head-content {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-container .wrapper-right .r-head-section .head-content .link-sing-in {
  text-decoration: none;
  color: #000;
}

.register-container .wrapper-right .r-head-section .head-content .item-sign-in {
  font-size: 1.3rem;
  font-weight: bold;
}

.register-container .wrapper-right .r-body-section .body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.register-container .wrapper-right .r-body-section .body-content h2 {
  text-align: center;
  color: aqua;
  margin: 2rem 0;
  font-weight: 800;
}

.register-container .wrapper-right .r-body-section .body-content form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-container .wrapper-right .r-body-section .body-content form input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ebebeb;
  border: none;
  border-radius: 15px;
  padding: 1.1rem 1.3rem;
  margin: 0.7rem 0;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  color: #808080;
}

.register-container .wrapper-right .r-body-section .body-content form input:last-child {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #d81f26;
  border: none;
  border-radius: 15px;
  padding: 1.1rem 1.3rem;
  margin: 0.7rem 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}

.register-container .wrapper-right .r-body-section .body-content form input:last-child:hover {
  background: #e41f26;
}

.home-container {
  display: -ms-grid;
  display: grid;
  height: auto;
  min-height: 100vh;
  width: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 1125px) {
  .home-container {
    -ms-grid-columns: 20% 1fr;
        grid-template-columns: 20% 1fr;
  }
}

.home-container .content-left {
  background: #141414;
  color: #ffffff;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1125px) {
  .home-container .content-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.home-container .content-left .menu a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home-container .content-left .menu a img {
  margin: 2.5rem 0;
}

.home-container .content-left .menu .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-container .content-left .menu .perfil img {
  width: 180px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.5rem 0;
  border-radius: 50%;
}

.home-container .content-left .menu .list a {
  margin: 2rem 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.home-container .content-right .banner-wrapper {
  width: 100%;
  height: 75vh;
  background: #000000;
  background-image: url("/images/home/banner/image1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .content-right .banner-wrapper .gradient {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#070707), color-stop(#e66aa800), to(#070707));
  background-image: linear-gradient(#070707, #e66aa800, #070707);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .content-right .banner-wrapper .gradient .banner {
  text-align: center;
}

.home-container .content-right .banner-wrapper .gradient .banner h2 {
  margin: 2% 10%;
}

.home-container .content-right .animes-wrapper {
  background: #1f1f1f;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.home-container .content-right .animes-wrapper .category-card {
  margin: 1rem;
  position: relative;
  overflow-x: auto;
  height: auto;
  min-height: 350px;
}

.home-container .content-right .animes-wrapper .category-card h2 {
  margin: 1rem;
}

.home-container .content-right .animes-wrapper .category-card .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
}

.home-container .content-right .animes-wrapper .category-card .category img {
  margin: 1rem;
  width: 304px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.movie-container {
  display: -ms-grid;
  display: grid;
  height: auto;
  min-height: 100vh;
  width: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 1125px) {
  .movie-container {
    -ms-grid-columns: 20% 1fr;
        grid-template-columns: 20% 1fr;
  }
}

.movie-container .content-left {
  background: #141414;
  color: #ffffff;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1125px) {
  .movie-container .content-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.movie-container .content-left .menu a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.movie-container .content-left .menu a img {
  margin: 2.5rem 0;
}

.movie-container .content-left .menu .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie-container .content-left .menu .perfil img {
  width: 180px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.5rem 0;
  border-radius: 50%;
}

.movie-container .content-left .menu .list a {
  margin: 2rem 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.movie-container .content-right .banner-wrapper {
  width: 100%;
  height: 75vh;
  background: #000000;
  background-image: url(/images/home/animes/accion/image4.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: SetColor(txt_color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-container .content-right .banner-wrapper .gradient {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#070707), color-stop(#e66aa800), to(#070707));
  background-image: linear-gradient(#070707, #e66aa800, #070707);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.movie-container .content-right .banner-wrapper .gradient .banner {
  padding: 2rem;
}

.movie-container .content-right .banner-wrapper .gradient .banner .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-container .content-right .banner-wrapper .gradient .banner .category img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.movie-container .content-right .banner-wrapper .gradient .banner .category span {
  font-size: x-large;
  margin: 0 0.5rem;
}

.movie-container .content-right .banner-wrapper .gradient .banner .title {
  margin: 0.5rem 0;
}

.movie-container .content-right .banner-wrapper .gradient .banner .plot {
  width: 450px;
}

.movie-container .content-right .banner-wrapper .gradient .banner .button {
  margin: 1rem 0;
}

.movie-container .content-right .banner-wrapper .gradient .banner .button a {
  display: inline-block;
  background: #e41f26;
  color: #ffffff;
  padding: 1rem 0.5rem;
  border-radius: 50px;
  font-size: 1.2rem;
}

.movie-container .content-right .banner-wrapper .gradient .banner .button a span {
  margin: 0 0.5rem 0 0;
}

.movie-container .content-right .banner-wrapper .gradient .banner .button a i {
  margin: 0 0.5rem;
}

.movie-container .content-right .chapters .title {
  margin: 2rem;
}

.movie-container .content-right .chapters .acordion-wrapper {
  background: #1f1f1f;
  height: auto;
  margin: 2rem;
  -webkit-box-shadow: 0 0 18px #0000004f;
          box-shadow: 0 0 18px #0000004f;
  border: 5rem;
}

.movie-container .content-right .chapters .acordion-wrapper .label {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  background: #070707af;
}

.movie-container .content-right .chapters .acordion-wrapper .label .icon-collapse {
  position: absolute;
  top: 35%;
  right: 1.5rem;
}

.movie-container .content-right .chapters .acordion-wrapper .content {
  line-height: 1.6;
  display: none;
}

.movie-container .content-right .chapters .acordion-wrapper .content section {
  padding: 1rem;
  border-bottom: 1px solid white;
}

.movie-container .content-right .chapters .acordion-wrapper .content section a {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.1rem;
  color: #ffffff;
}

.movie-container .content-right .chapters .acordion-wrapper .content section a span {
  margin: 0 0.5rem;
}

.movie-container .content-right .chapters .acordion-wrapper .content section a .play-icon {
  position: absolute;
  top: 10%;
  right: 0.5rem;
}

.movie-container .content-right .chapters .acordion-wrapper section:hover {
  background: #07070738;
}

.movie-container .content-right .chapters .acordion-wrapper .input {
  display: none;
}

.movie-container .content-right .chapters .acordion-wrapper .input:checked ~ .content {
  display: block;
}

.movie-container .content-right .chapters .acordion-wrapper .input:checked ~ .label::after {
  -webkit-transform: translateY(-50%) rotate(0.5turn);
          transform: translateY(-50%) rotate(0.5turn);
}
/*# sourceMappingURL=index.css.map */