// Scheme of colors
$colorscheme: (
	primary: (
		//BUTTONS, CARDS, ETC
		state: #e41f26,
		base: #d81f26,
		rgba: #d81f25ab,
	),
	secondary: (
		//BUTTONS, CARDS, ETC
		state: #9137f5,
		base: #8525f1,
		rgba: rgba(145, 55, 245, 0.8),
	),
	tertiary: (
		//BUTTONS, CARDS, ETC
		state: #00deda,
		base: #00c7c4,
		rgba: rgba(0, 222, 218, 0.8),
	),
	extra: (
		//BUTTONS, CARDS, ETC
		state: #f2e205,
		base: #ddce00,
		rgba: rgba(224, 210, 4, 0.8),
	),
	extra2: (
		//BUTTONS, CARDS, ETC
		state: #0484da,
		base: #047fd1,
		rgba: rgba(4, 132, 218, 0.8),
	),
	danger: (
		//BUTTONS, CARDS, ETC
		state: #ff0005,
		base: #e40105,
		rgba: rgba(255, 0, 5, 0.8),
	),
	success: (
		//BUTTONS, CARDS, ETC
		state: #20ca42,
		base: #10b932,
		rgba: rgba(32, 202, 66, 0.8),
	),
	dark: (
		//BUTTONS, CARDS, BG ETC
		/* lighten-12: #7a7a7a,
		lighten-11: #707070,
		lighten-10: #666666,
		lighten-9: #5c5c5c,
		lighten-8: #525252,
		lighten-7: #474747,
		lighten-6: #3d3d3d,
		lighten-5: #333333,
		lighten-4: #292929, */
			lighten-3: #1f1f1f,
		lighten-2: #141414,
		lighten-1: #0a0a0a,
		base: #000000,
	),
	light: (
		//BUTTONS, CARDS, BG ETC
		base: #ffffff,
		darken-1: #f5f5f5,
		darken-2: #ebebeb,
		darken-3: #e0e0e0,
		darken-4: #d6d6d6,
		darken-5: #cccccc,
		darken-6: #c2c2c2,
		darken-7: #b8b8b8,
		/* darken-8: #adadad,
		darken-9: #a3a3a3,
		darken-10: #999999,
		darken-11: #8f8f8f,
		darken-12: #858585, */
	),
	bg: (
		//BACKGROUNDS
		base: #1e1e1e,
		primary: #161616,
	),
	txt_color: (
		//TEXTS, ICONS ETC
		base: #ffffff,
		primary: #808080,
		secondary: #535353,
		dark_one: #3a3030,
	),
);

// Our function for shorter usage of map-get();
@function setColor($scheme, $tone: base) {
	@return map-get(map-get($colorscheme, $scheme), $tone);
}
