// Scheme of colors
$colorscheme: (
	primary: (
		lighten-5: #fbff62,
		lighten-4: #fbff4e,
		lighten-3: #faff3b,
		lighten-2: #faff27,
		lighten-1: #f9ff14,
		base: #f9ff00,
		darken-1: #f9ff00,
		darken-2: #e6eb00,
		darken-3: #d3d800,
		darken-4: #c0c400,
		darken-5: #acb100,
		accent-1: #f9ff00,
		accent-2: #f0f50a,
		accent-3: #e6eb14,
		accent-4: #dde21d,
	),
	secondary: (
		lighten-5: #fbff62,
		lighten-4: #fbff4e,
		lighten-3: #faff3b,
		lighten-2: #faff27,
		lighten-1: #f9ff14,
		base: #f9ff00,
		darken-1: #f9ff00,
		darken-2: #e6eb00,
		darken-3: #d3d800,
		darken-4: #c0c400,
		darken-5: #acb100,
		accent-1: #f9ff00,
		accent-2: #f0f50a,
		accent-3: #e6eb14,
		accent-4: #dde21d,
	),
	extra: (
		lighten-5: #fbff62,
		lighten-4: #fbff4e,
		lighten-3: #faff3b,
		lighten-2: #faff27,
		lighten-1: #f9ff14,
		base: #f9ff00,
		darken-1: #f9ff00,
		darken-2: #e6eb00,
		darken-3: #d3d800,
		darken-4: #c0c400,
		darken-5: #acb100,
		accent-1: #f9ff00,
		accent-2: #f0f50a,
		accent-3: #e6eb14,
		accent-4: #dde21d,
	),
	black: (
		lighten-12: #7a7a7a,
		lighten-11: #707070,
		lighten-10: #666666,
		lighten-9: #5c5c5c,
		lighten-8: #525252,
		lighten-7: #474747,
		lighten-6: #3d3d3d,
		lighten-5: #333333,
		lighten-4: #292929,
		lighten-3: #1f1f1f,
		lighten-2: #141414,
		lighten-1: #0a0a0a,
		base: #000000,
	),
	white: (
		base: #ffffff,
		darken-1: #f5f5f5,
		darken-2: #ebebeb,
		darken-3: #e0e0e0,
		darken-4: #d6d6d6,
		darken-5: #cccccc,
		darken-6: #c2c2c2,
		darken-7: #b8b8b8,
		darken-8: #adadad,
		darken-9: #a3a3a3,
		darken-10: #999999,
		darken-11: #8f8f8f,
		darken-12: #858585,
	),
);

// Our function for shorter usage of map-get();
@function setColor($scheme, $tone: base) {
	@return map-get(map-get($colorscheme, $scheme), $tone);
}
