// Map with much breakpoints
$breakpoints: (
	mobilexs: 365px,
	mobile: 768px,
	tablet: 1125px,
	desktop: 1250px,
	desktopMb: 1650px,
	desktopLg: 1805px,
);

// Respond-To Mixin
@mixin mediaQuery($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		$value: map-get($breakpoints, $breakpoint);

		@media screen and (max-width: $value) {
			@content;
		}
	}

	@warn "Unknown `#{$breakpoint}` in $breakpoints";
}
