//FIELDS
@mixin input-primary {
	width: 100%;
	box-sizing: border-box;
	background: setColor(light, darken-2);
	border: none;
	border-radius: 15px;
	padding: 1.1rem 1.3rem;
	margin: 0.7rem 0;
	font-size: 18px;
	font-weight: 600;
	outline: none;
	color: setColor(txt_color, primary);
}

//BUTTONS
@mixin btn-primary(
	$bg: setColor(primary),
	$bgHover: setColor(primary, state),
	$color: setColor(light),
	$fontSize: 18px
) {
	width: 100%;
	box-sizing: border-box;
	background: $bg;
	border: none;
	border-radius: 15px;
	padding: 1.1rem 1.3rem;
	margin: 0.7rem 0;
	font-size: $fontSize;
	font-weight: bold;
	cursor: pointer;
	color: $color;
	outline: none;
	transition: transform 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
	&:hover {
		-webkit-transition: transform 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
		transition: transform 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
		background: $bgHover;
		box-shadow: 0 8px 20px -6px $bg;
	}
}

@mixin btn-secondary(
	$background: setColor(primary, state),
	$color: setColor(light),
	$padding: 1rem 1.7rem 1rem,
	$borderRadius: 2.6rem,
	$fontSize: 1em,
	$boxShadowColor: rgba(216, 31, 38, 0.5)
) {
	background: $background;
	color: $color;
	padding: $padding;
	border-radius: $borderRadius;
	font-size: $fontSize;
	margin: 1rem 0;
	transform: scale(1);
	box-shadow: 0 0.3rem 1.2rem $boxShadowColor;
	font-weight: bold;
	transform: scale(1);
	transition: transform 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
	display: inline-block;
	&:hover {
		box-shadow: 0 0.7rem 3.3rem $boxShadowColor;
		-webkit-transform: scale(1.07);
		transform: scale(1.07);
		-webkit-transition: transform 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
		transition: transform 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
	}
	i {
		margin: 0 0.5rem;
	}
	span {
		margin: 0 0.5rem 0 0;
	}
}

//MENU DRAWER
@mixin menu-drawer() {
	.menu {
		position: relative;
		@include mediaQuery(tablet) {
			position: fixed;
		}
		a {
			text-decoration: none;
			display: flex;
			align-content: center;
			cursor: pointer;
			img {
				margin: 2.5rem 0;
			}
		}

		.perfil {
			display: flex;
			align-content: center;
			justify-content: center;

			img {
				width: 160px;
				height: 160px;
				object-fit: cover;
				margin: 0.5rem 0;
				border-radius: 50%;
			}
		}

		.list a {
			margin: 2rem 0;
			display: block;
			display: flex;
			justify-content: center;
			color: setColor(light, darken-5);
			&:hover {
				transition: transform 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
				color: setColor(light);
			}
		}
	}
} ;
