body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #acabab;
  font-family: arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

button {
  padding: 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {
  width: 100vw;
  height: 100vh;
  background: #eee;
}

.header,
.footer {
  width: 100%;
  height: 10vh;
  padding: 1rem;
  background: #5b5959;
  color: #fff;
}

.header,
.footer ul,
a {
  color: #fff;
}

.header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.body {
  width: 100%;
  min-height: 80vh;
  height: auto;
  background: #fff;
  padding: 1rem;
}

.header,
.footer ul li {
  margin-right: 1rem;
}

.users {
  list-style: none;
}

.users li {
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.05s ease-in-out;
  font-size: 1.7rem;
}

.users li:hover {
  transition: all 0.05s ease-in-out;
  font-size: 2.7rem;
}

.user {
  width: auto;
  height: auto;
}

.avatar-items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.avatar-items .avatar h1 {
  margin: 1rem auto;
}
