.movie-container {
	display: grid;
	height: auto;
	min-height: 100vh;
	width: 100%;
	grid-template-columns: 1fr;

	@include mediaQuery(tablet) {
		grid-template-columns: 20% 1fr;
	}

	.content-left {
		background: setColor(dark, lighten-2);
		color: setColor(txt_color);
		display: none;
		justify-content: center;
		position: relative;
		@include mediaQuery(tablet) {
			display: flex;
		}
		//mixin drawer menu
		@include menu-drawer;
	}

	.content-right {
		.banner-wrapper {
			width: 100%;
			height: 75vh;
			background: setColor(dark);
			background-image: url(/images/home/animes/accion/image4.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			color: SetColor(txt_color);
			display: flex;
			justify-content: center;
			align-items: center;

			.gradient {
				width: 100%;
				height: 100%;
				background-image: linear-gradient(#070707, #e66aa800, #070707);
				display: flex;
				align-items: flex-end;

				.banner {
					padding: 2rem 0.7rem;
					.category {
						display: flex;
						align-items: center;
						img {
							width: 20px;
							height: 20px;
							object-fit: cover;
							border-radius: 1rem;
						}

						span {
							margin: 0 0.5rem;
						}
					}

					.title {
						margin: 0.5rem 0;
						font-size: 0.7rem;
						@include mediaQuery(tablet) {
							font-size: 1rem;
						}
					}

					.plot {
						width: 100%;
						@include mediaQuery(tablet) {
							width: 450px;
						}
						p {
							font-weight: 400;
						}
					}

					.item-button {
						a {
							//mixin btn-secondary
							@include btn-secondary;
						}
					}
				}
			}
		}

		.chapters {
			margin: 2rem 0.7rem;
			@include mediaQuery(tablet) {
				margin: 2rem;
			}
			.title {
				margin: 2rem 0;
			}

			.acordion-wrapper {
				background: setColor(dark, lighten-3);
				height: auto;
				margin: 2rem 0;
				box-shadow: 0 0 18px #0000004f;
				border: 5rem;

				.label {
					position: relative;
					width: 100%;
					display: flex;
					font-size: $md;
					padding: 1.5rem;
					cursor: pointer;
					background: #070707af;

					.icon-collapse {
						position: absolute;
						top: 35%;
						right: 1.5rem;
						transition: -webkit-transform 0.2s ease-in;
					}
				}

				.input:checked ~ .label .icon-collapse {
					transform: rotate(180deg);
				}

				.content {
					line-height: 1.6;
					display: none;

					section {
						padding: 1rem;
						border-bottom: 1px solid setColor(txt_color, secondary);

						a {
							position: relative;
							width: 100%;
							display: flex;
							justify-content: space-between;
							padding: 0.1rem;
							color: setColor(txt_color);

							span {
								margin: 0 0.5rem;
							}

							.play-icon {
								i {
									font-size: 1.5em;
								}
							}
						}
					}
				}

				section:hover {
					background: #07070738;
				}

				.input {
					display: none;
				}

				.input:checked ~ .content {
					display: block;
				}
			}
		}
	}
}
