.home-container {
	display: grid;
	height: auto;
	min-height: 100vh;
	width: 100%;
	grid-template-columns: 1fr;

	@include mediaQuery(tablet) {
		grid-template-columns: 20% 1fr;
	}

	.content-left {
		background: setColor(dark, lighten-2);
		color: setColor(txt_color);
		display: none;
		justify-content: center;

		@include mediaQuery(tablet) {
			display: flex;
		}

		.menu {
			a {
				text-decoration: none;
				display: flex;
				align-content: center;

				img {
					margin: 2.5rem 0;
				}
			}

			.perfil {
				display: flex;
				align-content: center;
				justify-content: center;

				img {
					width: 180px;
					height: auto;
					object-fit: cover;
					margin: 0.5rem 0;
					border-radius: 50%;
				}
			}

			.list a {
				margin: 2rem 0;
				display: block;
				display: flex;
				justify-content: center;
				color: setColor(txt_color);
			}
		}
	}

	.content-right {
		.banner-wrapper {
			width: 100%;
			height: 75vh;
			background: setColor(dark);
			background-image: url("/images/home/banner/image1.png");
			background-repeat: no-repeat;
			background-size: cover;
			color: setColor(txt_color);
			display: flex;
			justify-content: center;
			align-items: center;

			.gradient {
				width: 100%;
				height: 100%;
				background-image: linear-gradient(#070707, #e66aa800, #070707);
				display: flex;
				justify-content: center;
				align-items: center;

				.banner {
					text-align: center;

					h2 {
						margin: 2% 10%;
					}
				}
			}
		}
		.animes-wrapper {
			background: setColor(dark, lighten-3);
			width: 100%;
			height: auto;
			.category-card {
				position: relative;
				height: auto;
				min-height: 300px;
				margin: 1.5em 0;

				h2 {
					margin: 0 1.2rem;
				}

				.category {
					display: flex;
					position: absolute;
					overflow-x: auto;
					max-width: 100%;
					left: 0;

					img {
						margin: 1rem;
						width: 304px;
						height: 200px;
						object-fit: cover;
						border-radius: 1rem;
					}
					&::-webkit-scrollbar {
						display: none;
					}
					-ms-overflow-style: none; /* IE and Edge */
					scrollbar-width: none; /* Firefox */
				}
			}
		}
	}
}
