.home-container {
	display: grid;
	height: auto;
	min-height: 100vh;
	width: 100%;
	grid-template-columns: 1fr;

	@include mediaQuery(tablet) {
		grid-template-columns: 20% 1fr;
	}

	.content-left {
		background: setColor(dark, lighten-2);
		color: setColor(txt_color);
		display: none;
		justify-content: center;
		position: relative;

		@include mediaQuery(tablet) {
			display: flex;
		}

		//mixin drawer menu
		@include menu-drawer;
	}

	.content-right {
		.banner-wrapper {
			width: 100%;
			height: 75vh;
			background: setColor(dark);
			background-image: url("/images/home/banner/image1.png");
			background-repeat: no-repeat;
			background-size: cover;
			color: setColor(txt_color);
			display: flex;
			justify-content: center;
			align-items: center;

			.gradient {
				width: 100%;
				height: 100%;
				background-image: linear-gradient(#070707, #e66aa800, #070707);
				display: grid;
				grid-template-rows: 10% 1fr;
				@include mediaQuery(tablet) {
					grid-template-rows: 1fr;
				}

				.open-drawer {
					display: block;
					width: 100%;
					display: flex;
					justify-content: flex-end;
					img {
						width: 2em;
						height: auto;
						object-fit: contain;
					}
					@include mediaQuery(tablet) {
						display: none;
					}
				}

				#action-toggle-drawer {
					display: none;
				}

				#action-toggle-drawer:checked ~ .close-drawer {
					display: none;
				}

				#action-toggle-drawer:checked ~ .mobile-drawer {
					transform: translateX(0%);
				}

				.mobile-drawer {
					position: fixed;
					z-index: 500;
					overflow-y: overlay;
					transform: translateX(-100%);
					transition: all ease-in-out 0.4s;

					background: #070707;
					width: 100%;
					height: 100%;
					@include mediaQuery(tablet) {
						display: none;
					}

					.responsive-menu-wrapper {
						@include mediaQuery(tablet) {
							display: none;
						}
						.responsive-menu {
							padding: 1.5em 2em;
							background: #070707;
							.menu-header {
								display: grid;
								align-items: flex-start;
								grid-template-columns: 1fr 90% 1fr;
								margin-bottom: 1em;

								label {
									float: right;
									i {
										color: setColor(light);
										font-size: x-large;
										cursor: pointer;
									}
								}
								a {
									text-decoration: none;
									display: flex;
									align-content: center;
									justify-content: center;
									cursor: pointer;
									img {
										width: 60%;
									}
								}
							}

							.perfil {
								display: flex;
								align-content: center;
								justify-content: center;

								img {
									width: 160px;
									height: 160px;
									object-fit: cover;
									margin: 0.5rem 0;
									border-radius: 50%;
								}
							}
							.list a {
								margin: 2rem 0;
								display: block;
								display: flex;
								justify-content: center;
								color: setColor(light, darken-5);
							}
						}
					}
				}
				.banner {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					flex-direction: column;

					h2 {
						margin: 2% 10%;
					}
				}
			}
		}
		.animes-wrapper {
			background: setColor(dark, lighten-3);
			width: 100%;
			height: auto;
			padding-top: 2em;
			.category-card {
				position: relative;
				height: auto;
				min-height: 380px;
				margin: 1.5em 0;

				h2 {
					margin: 0 1.2rem 1.2rem 1.2rem;
				}

				.category {
					display: flex;
					position: absolute;
					overflow-x: auto;
					max-width: 100%;
					left: 0;
					a {
						.item-anime {
							position: relative;
							margin: 1rem;
							border-radius: 1rem;
							width: 14em;
							height: 17em;
							overflow: hidden;
							transform: scale(1);
							transition: transform 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
							&:hover {
								transform: scale(1.1);
							}
							@include mediaQuery(tablet) {
								width: 22em;
								height: 13em;
							}
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
							.hover-effect {
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								transform: translateY(100%);
								-webkit-transition: transform ease-in-out 0.3s;
								transition: transform ease-in-out 0.3s;
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								justify-content: flex-end;
								color: setColor(light);
								padding: 0.7em;
								p {
									font-size: small;
									height: auto;
									width: 95%;
									text-align: left;
									display: -webkit-box;
									-webkit-line-clamp: 4; /*define how many line you want to show */
									-webkit-box-orient: vertical;
									overflow: hidden;
									text-overflow: ellipsis;
								}
							}
							&:hover {
								.hover-effect {
									background: rgb(0, 0, 0);
									background: linear-gradient(
										2deg,
										rgba(0, 0, 0, 1) 0%,
										rgba(25, 25, 42, 0.6685049019607843) 30%,
										rgba(255, 255, 255, 0) 72%
									);
									transform: translateY(0%);
								}
							}
						}
					}

					&::-webkit-scrollbar {
						display: none;
					}
					/* &::-moz-scrollbar,
					&::-ms-scrollbar, */
					-webkit-overflow-style: none; /* IE and Edge */
					-moz-overflow-style: none; /* IE and Edge */
					-ms-overflow-style: none; /* IE and Edge */
					scrollbar-width: none; /* Firefox */
				}
			}
		}
	}
}
