.form-container {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, setColor(extra2, state), setColor(primary, state));
	display: flex;
	justify-content: center;
	align-items: center;

	.wrapper-form {
		width: 600px;
		height: auto;
		margin: 1rem;
		form {
			padding: 0;
			background: setColor(light);
			border-radius: 7px;
			.header-form {
				padding: 1.4rem 1rem;
				text-align: center;
				position: relative;
				border-bottom: 1px solid setColor(light, darken-2);
				color: setColor(txt_color);
				.item-icon-close {
					position: absolute;
					right: 0;
					top: 0;
					padding: 1rem;
					font-size: 1.2rem;
					cursor: pointer;
					display: none;
				}
			}

			.body-form {
				display: flex;
				flex-direction: column;
				padding: 1rem 2rem;

				.inputs-wrapper {
					input {
						@include input-primary;
						&:last-child {
							@include btn-primary;
						}
					}
				}

				.item-text {
					padding: 0.4rem 0 0 0.3rem;
					text-align: left;
				}
			}

			.footer-form {
				border-top: 1px solid setColor(light, darken-2);
				display: grid;
				grid-template-columns: 1fr 10px 1fr;
				align-items: center;
				padding: 1rem 2rem;
				.left-wrapper {
					padding-right: 0.7rem;
				}
				.right-wrapper {
					padding-left: 0.7rem;
				}
				button {
					@include btn-primary(setColor(extra2), setColor(extra2, state));
				}
			}
		}
	}
}
