.movie-grid {
	background: lightcoral;
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: 20% 1fr 1fr;
	grid-template-rows: 80% 1fr;
    overflow-x: hidden;

    .item-grid:nth-child(1) {
        grid-row-end: span 2;
		background: setColor(dark, lighten-2);
		color: setColor(txt_color);
		display: flex;
		justify-content: center;
    }
    
        .item-grid:nth-child(2) {
            grid-column-end: span 2;
            background: black;
            background-image: url(/images/home/animes/accion/image4.png);
            background-repeat: no-repeat;
            background-size: cover;
            color: SetColor(txt_color);
            display: flex;
            justify-content: center;
            align-items: center;

            .gradient {
                width: 100%;
                height: 100%;
                background-image: linear-gradient(#070707, #e66aa800, #070707);

                
                        .banner {
                            text-align: left;
                            margin: 3%;
                            display: inline-block;
                            align-self: end;

                            p{
                                margin-right: 60%;
                            }

                            a{
                                display: inline-block;
                                background: setColor(primary, state);
                                font-size: 1.3rem;
                                color: setColor(txt_color);
                                padding: 1rem;
                                border-radius: 50px;
                            
                            i{
                                margin-right: 10px;
                            }
                
                            }
                        }
                    }
        }

        .item-grid:nth-child(3) {
            grid-column-end: span 2;
            background: #1e1e1e;

            .capitulos {
                margin: 2%;
            }
            
        }

        .menu{
		
            a{
                text-decoration: none;
                display: flex;
                align-content: center;
    
                img{
                    margin: 2.5rem 0 ;
                }
            }
    
            .perfil{
                display: flex;
                align-content: center;
                justify-content: center;
                
    
                img{
                    width: 180px;
                    height: auto;
                    object-fit: cover;
                    margin: 0.5rem 0;
                    border-radius: 50%;
                }
            }
    
            .list a {
                margin: 2rem 0;
                display: block;
                display: flex;
                justify-content: center;
                color: setColor(txt_color);
        }

    }
}