.register-container {
	background: setColor(bg, primary);
	width: 100vw;
	min-height: 100vh;
	height: auto;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100%;

	@include mediaQuery(mobile) {
		grid-template-columns: 50% 1fr;
	}

	.wrapper-left {
		background-blend-mode: multiply;
		background: url("../images/resources/bg6.png") center center no-repeat,
			linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
		display: none;
		@include mediaQuery(mobile) {
			display: inherit;
		}
	}

	.wrapper-right {
		display: grid;
		grid-template-rows: 15% 1fr;
		.r-head-section {
			.head-content {
				padding: 1em 2em 0 2em;
				display: flex;
				justify-content: space-between;

				.link-sing-in {
					text-decoration: none;
					color: setColor(txt_color);
					display: flex;
					align-items: center;
				}

				.item-sign-in {
					font-size: 1.3rem;
					font-weight: bold;
					margin-left: 0.5em;
				}
			}
		}
		.r-body-section {
			.body-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				h2 {
					text-align: center;
					color: setColor(txt_color);
					margin: 1rem 0;
					font-weight: 800;
				}
				form {
					width: 80%;
					display: flex;
					flex-direction: column;

					div {
						input {
							@include input-primary;
						}
					}
					.button {
						input {
							@include btn-primary;
						}
					}
				}
			}
		}
	}
}
