.register-container {
	background: setColor(bg, primary);
	height: 100vh;
	width: 100vw;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100%;

	@include mediaQuery(mobile) {
		grid-template-columns: 45% 1fr;
	}

	.wrapper-left {
		display: none;
		align-items: center;
		justify-content: center;

		@include mediaQuery(mobile) {
			display: flex;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.wrapper-right {
		display: grid;
		grid-template-rows: 15% 1fr;

		.r-head-section {
			.head-content {
				padding: 1em 2em 0 2em;
				display: flex;
				justify-content: space-between;

				.link-sing-in {
					text-decoration: none;
					color: setColor(txt_color);
					display: flex;
					align-items: center;
				}

				.item-sign-in {
					font-size: 1.3rem;
					font-weight: bold;
					margin-left: 0.5em;
				}
			}
		}
		.r-body-section {
			.body-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;
				h2 {
					text-align: center;
					color: setColor(txt_color);
					margin: 2rem 0;
					font-weight: 800;
				}
				form {
					width: 80%;
					display: flex;
					flex-direction: column;
					input {
						@include input-primary;
						&:last-child {
							@include btn-primary;
						}
					}
				}
			}
		}
	}
}
